@model MVC5HomeworkWeek.Models.客戶資料

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<h4>
@Html.DisplayNameFor(m => m)
</h4>

@Html.DisplayForModel()

@Html.Action("List", "客戶聯絡人", new { 客戶Id = Model.Id })

<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
